{% extends 'base.html' %}
{% block title %}{{user.get_full_name()}}{% endblock %}

{% block content %}
    <h1>{{user.get_full_name()}}</h1>
    <img src="{{user.image_url}}" alt="User profile image">
    <form action='/users/{{user.id}}/edit'>
        <button>Edit User</button>
    </form>
    <form action='/users/{{user.id}}/delete' method='POST'>
        <button>Delete User</button>
    </form>
    <form action='/'>
        <button>Go Back</button>
    </form>
    <h2>Posts</h2>
    {% if posts %}
        <ul>
        {% for post in posts %}
            <li><a href="/posts/{{post.id}}">{{post.title}}</a> <small>created @ {{post.created_at}}</small></li>
        {% endfor %}
        </ul>
    {% else %}
        {{user.first_name}} has no posts.
    {% endif %}
    <form action='/users/{{user.id}}/posts/new'>
        <button>New Post</button>
    </form>
    
{% endblock %}