{% extends 'base.html' %} {% block title%}Add Feedback{% endblock %} {% block
content %}
<div class="container">
<h1 class='display-2'>Give us some feedback!</h1>
  <form method='POST'>
    {{ form.hidden_tag() }} 
    {% for field in form if field.widget.input_type != 'hidden' %} 
        {% if field.type == 'TextAreaField' %}
            <div class='mb-2'>
                {{field.label(class_='input-group-text')}}
                {{field(class_='form-control')}}
            </div>
        {% else %}
            <div class="input-group mb-2">
                {{field.label(class_='input-group-text')}}
                {{field(class_='form-control')}}
            </div>
        {% endif %} 
    {% endfor %}
    <button class='btn btn-primary'>Submit Post</button>
    <a class='btn btn-danger' href="/users/{{user.username}}">Cancel</a>
  </form>
</div>
{% endblock %}
