{% extends 'base.html'%}
{% block title %}Question {{num + 1}}{% endblock %}

{% block content%}
    <h1>{{survey.title}}</h1>
    <p>{{num + 1}} {{survey.questions[num].question}}</p>
        <form action='/question/{{num + 1}}'>
    {% for choice in survey.questions[num].choices %}
        <input name='{{survey.questions[num].question}}' value='{{choice}}' type='radio'/>{{choice}}
    {% endfor %}<br><br>
    {% if num == survey.questions|count -1 %}
        <button>Finish</button>
    {% else %}
        <button>Next</button>
    {% endif %}
    {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
    {% endfor %}
    </form>
{% endblock %}