{% extends 'base.html' %}
{% block title%}Home Page{% endblock %}
{% block content %}
<header class='mb-3'>
    <h1 class='display-3 text-center'>Add a new pet!</h1>
</header>
<div class='container'>
<form method='POST'>
{{ form.hidden_tag() }}
{% for field in form if field.widget.input_type != 'hidden' %}
    <div class='input-group mb-3'>
    {{field.label(class_='input-group-text')}}
    {{field(class_="form-control")}}
    </div>
{% endfor %}
<button class='btn btn-primary btn-success'>Add Pet</button>
</form>
</div>
{% endblock %}